/* Override default style and set padding and margin to nothing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Make the image smaller to fit as a logo in the top left corner */
img#logo {
    object-fit: cover;
    width:5%; 
    height:100%;
}

/* make the container a flex grid to be able to put the elements side to side,
with the logo on the left and the hyperlinks on the right */
.containerflex {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    grid: auto auto / auto auto auto auto; 
    background-color: black; 
    padding: 10px; 
    height: 100px;
}

/* edit the text of the hyperlinks */
.outline {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

/* Add a hover style to the hyperlinks */
.outline:hover {
    color: grey;
    border-bottom: 3px solid grey;
}

/* Style the whole calculator object to be in the center of the page */
.calculatordiv {
    margin: auto;
    width: 25.5%;
    border: 25px solid;
    padding: 10px;
    background-color: black;
}

/* style the box that will show the numbers inputted by user and result */
.calculatorscreen {
    border: solid;
    border-color: white;
    height: 100px;
    width: 100%;
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}

/* style the buttons to be under the calculator screen in a grid format */
.buttons{
    display: flex grid;
    grid-template-columns: repeat(4, 1fr);
}

/* style each individual button */
button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: black;
    font-size: 3rem;
    font-weight: bold;
    align-items: center;
}

/* style the operator and clear buttons orange */
#orangebuttons{
    background-color: orange;
}
