/* Override default style and set padding and margin to nothing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Make the image smaller to fit as a logo in the top left corner */
img#logo {
    object-fit: cover;
    width:5%; 
    height:100%;
}

/* make the container a flex grid to be able to put the elements side to side,
with the logo on the left and the hyperlinks on the right */
.containerflex {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    grid: auto auto / auto auto auto auto; 
    background-color: black; 
    padding: 10px; 
    height: 100px;
}

/* edit the text of the hyperlinks */
.outline {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
